<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Driver Info</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{{ base_url() }}/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active">Driver Info</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body p-0">
        <div class="table-responsive">
          <table id="driverslisttbl" class="table card-table table-vcenter text-nowrap">
            <thead>
              <tr>
                <th class="w-1">S.No</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>License No</th>
                <th>License Exp Date</th>
                <th>Date of Joining</th>
                <th>Is Active</th>
                {% if userpermission('lr_drivers_list_edit') %}
                <th>Action</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% if driverslist %}
                {% set count = 1 %}
                {% for driverslists in driverslist %}
                  <tr>
                    <td>{{ count | output }}</td>
                    <td>{{ driverslists['d_name'] | output }}</td>
                    <td>{{ driverslists['d_mobile'] | output }}</td>
                    <td>{{ driverslists['d_licenseno'] | output }}</td>
                    <td>{{ driverslists['d_license_expdate'] | output }}</td>
                    <td>{{ driverslists['d_doj'] | output }}</td>
                    <td>
                      <span class="badge {{ 'badge-success' if driverslists['d_is_active'] == '1' else 'badge-danger' }}">
                        {{ 'Active' if driverslists['d_is_active'] == '1' else 'Inactive' }}
                      </span>
                    </td>
                    {% if userpermission('lr_drivers_list_edit') %}
                    <td>
                      <a class="icon" href="{{ base_url() }}/drivers/editdriver/{{ driverslists['d_id'] | output }}">
                        <i class="fa fa-edit"></i>
                      </a>
                    </td>
                    {% endif %}
                  </tr>
                  {% set count = count + 1 %}
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
