<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Fuel Info</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{{ base_url() }}/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item active">Fuel Info</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body p-0">
        <div class="table-responsive">
          <table id="fueltbl" class="table card-table">
            <thead>
              <tr>
                <th class="w-1">S.No</th>
                <th>Fuel Fill Date</th>
                <th>Vechicle</th>
                <th>Quantity</th>
                <th>Fuel Total Price</th>
                <th>Fuel Filled By</th>
                <th>Odometer Reading</th>
                <th>Comments</th>
                {% if userpermission('lr_fuel_edit') %}
                  <th>Action</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% if fuel %}
                {% set count = 1 %}
                {% for fuels in fuel %}
                  <tr>
                    <td>{{ count|output }}</td>
                    <td>{{ fuels['v_fuelfilldate']|output }}</td>
                    <td>{{ fuels['vech_name'].v_name|output }}</td>
                    <td>{{ fuels['v_fuel_quantity']|output }}</td>
                    <td>{{ fuels['v_fuelprice']|output }}</td>
                    <td>{{ fuels['filled_by'].d_name|output }}</td>
                    <td>{{ fuels['v_odometerreading']|output }}</td>
                    <td>{{ fuels['v_fuelcomments']|output }}</td>
                    {% if userpermission('lr_fuel_edit') %}
                      <td>
                        <a class="icon" href="{{ base_url() }}fuel/editfuel/{{ fuels['v_fuel_id']|output }}">
                          <i class="fa fa-edit"></i>
                        </a>
                      </td>
                    {% endif %}
                  </tr>
                  {% set count = count + 1 %}
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</section>
<!-- /.content -->
