<div class="content-header">
   <div class="container-fluid">
      <div class="row mb-2">
         <div class="col-sm-6">
            <h1 class="m-0 text-dark">reminder Info</h1>
         </div><!-- /.col -->
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
               <li class="breadcrumb-item"><a href="{{ base_url() }}/dashboard">Dashboard</a></li>
               <li class="breadcrumb-item active">reminder Info</li>
            </ol>
         </div><!-- /.col -->
      </div><!-- /.row -->
   </div><!-- /.container-fluid -->
</div>

<!-- Main content -->
<section class="content">
   <div class="container-fluid">

      <div class="card">
         <div class="card-body p-0">

            <div class="table-responsive">
               <table id="custtbl" class="table card-table table-vcenter">
                  <thead>
                     <tr>
                        <th class="w-1">S.No</th>
                        <th>Vehicle</th>
                        <th>Date</th>
                        <th>Message</th>
                        {% if userpermission('lr_reminder_delete') %}
                           <th>Action</th>
                        {% endif %}
                     </tr>
                  </thead>
                  <tbody>
                     {% if reminderlist %}
                        {% set count = 1 %}
                        {% for reminderlists in reminderlist %}
                           <tr>
                              <td>{{ output(count) }}</td>
                              <td>{{ output(reminderlists['v_name']) }}</td>
                              <td>{{ output(reminderlists['r_date']) }}</td>
                              <td>{{ output(reminderlists['r_message']) }}</td>
                              {% if userpermission('lr_reminder_delete') %}
                                 <td>
                                    <a class="icon" href="{{ base_url() }}reminder/deletereminder/{{ output(reminderlists['r_id']) }}">
                                       <i class="fa fa-trash text-danger"></i>
                                    </a>
                                 </td>
                              {% endif %}
                           </tr>
                           {% set count = count + 1 %}
                        {% endfor %}
                     {% endif %}
                  </tbody>
               </table>
            </div>
         </div><!-- /.card-body -->
      </div>

   </div>
</section>
<!-- /.content -->
