<aside class="main-sidebar elevation-1 sidebar-dark-warning">
   {% set data = sitedata() %}
   <a href="{{ base_url() }}/dashboard" class="brand-link">
   <img src="{{ base_url() ~ 'assets/uploads/' ~ data['s_logo'] }}" class="brand-image img-circle elevation-1 frlogo">
   <span class="brand-text font-weight-light">{{ ucfirst(output(session['session_data']['name'])) }}</span>
   </a>
   <div class="sidebar">
      <nav class="mt-2">
         <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
               <a href="{{ base_url() }}dashboard" class="nav-link {{ activate_menu('dashboard') }}">
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>
                     Dashboard
                  </p>
               </a>
            </li>
            <li class="nav-item has-treeview {{ 'menu-open' if activate_menu('vehicle') == 'active' or activate_menu('addvehicle') == 'active' or activate_menu('viewvehicle') == 'active' or activate_menu('editvehicle') == 'active' or activate_menu('vehiclegroup') == 'active' }}">
               <a href="#" class="nav-link {{ activate_menu('vehicle') }} {{ activate_menu('addvehicle') }} {{ activate_menu('viewvehicle') }} {{ activate_menu('editvehicle') }} {{ activate_menu('vehiclegroup') }}">
                  <i class="nav-icon fas fa-truck"></i>
                  <p>
                     Vehicle's
                     <i class="right fas fa-angle-left"></i>
                  </p>
               </a>
               <ul class="nav nav-treeview">
                  {% if userpermission('lr_vech_list') %}
                  <li class="nav-item">
                     <a href="{{ base_url() }}vehicle" class="nav-link {{ activate_menu('vehicle') }} {{ activate_menu('editvehicle') }} {{ activate_menu('viewvehicle') }}">
                        <i class="nav-icon fas faa-list"></i>
                        <p>Vehicle List</p>
                     </a>
                  </li>
                  {% endif %}
                  {% if userpermission('lr_vech_add') %}
                  <li class="nav-item">
                     <a href="{{ base_url() }}vehicle/addvehicle" class="nav-link {{ activate_menu('addvehicle') }}">
                        <i class="nav-icon fas faa-plus"></i>
                        <p>Add Vehicle</p>
                     </a>
                  </li>
                  {% endif %}
                  {% if userpermission('lr_vech_group') %}
                  <li class="nav-item">
                     <a href="{{ base_url() }}vehicle/vehiclegroup" class="nav-link {{ activate_menu('vehiclegroup') }}">
                        <i class="nav-icon fas faa-plus"></i>
                        <p>Vehicle Group</p>
                     </a>
                  </li>
                  {% endif %}
               </ul>
            </li>
            {% if userpermission('lr_drivers_list') or userpermission('lr_drivers_add') %}
            <li class="nav-item has-treeview {{ 'menu-open' if activate_menu('drivers') == 'active' or activate_menu('adddrivers') == 'active' or activate_menu('editdriver') == 'active' }}">
               <a href="#" class="nav-link {{ activate_menu('drivers') }} {{ activate_menu('adddrivers') }} {{ activate_menu('editdriver') }}">
                  <i class="nav-icon fas fa-user"></i>
                  <p>
                     Drivers
                     <i class="right fas fa-angle-left"></i>
                  </p>
               </a>
               <ul class="nav nav-treeview">
                  {% if userpermission('lr_drivers_list') %}
                  <li class="nav-item">
                     <a href="{{ base_url() }}drivers" class="nav-link {{ activate_menu('drivers') }} {{ activate_menu('editdriver') }}">
                        <i class="nav-icon fas faa-list"></i>
                        <p>Driver List</p>
                     </a>
                  </li>
                  {% endif %}
                  {% if userpermission('lr_drivers_add') %}
                  <li class="nav-item">
                     <a href="{{ base_url() }}drivers/adddrivers" class="nav-link {{ activate_menu('adddrivers') }}">
                        <i class="nav-icon fas faa-plus"></i>
			<p>Add Driver</p>
                  </a>
               </li>
               {% endif %}
            </ul>
         </li>
         {% endif %}
         {% if userpermission('lr_trips_list') or userpermission('lr_trips_list_view') %}
         <li class="nav-item has-treeview {{ activate_menu('trips') }} {{ activate_menu('addtrips') }} {{ activate_menu('edittrip') }} {{ activate_menu('details') }}">
            <a href="#" class="nav-link {{ activate_menu('trips') }} {{ activate_menu('addtrips') }} {{ activate_menu('edittrip') }} {{ activate_menu('details') }}">
               <i class="nav-icon fas fa-road"></i>
               <p>
                  Bookings
                  <i class="right fas fa-angle-left"></i>
               </p>
            </a>
            <ul class="nav nav-treeview">
               {% if userpermission('lr_trips_list') %}
               <li class="nav-item">
                  <a href="{{ base_url() }}/trips" class="nav-link {{ activate_menu('trips') }} {{ activate_menu('edittrip') }} {{ activate_menu('details') }}">
                     <i class="nav-icon fas faa-list"></i>
                     <p>Booking List</p>
                  </a>
               </li>
               {% endif %}
               {% if userpermission('lr_trips_add') %}
               <li class="nav-item">
                  <a href="{{ base_url() }}/trips/addtrips" class="nav-link {{ activate_menu('addtrips') }}">
                     <i class="nav-icon fas faa-plus"></i>
                     <p>Add Booking</p>
                  </a>
               </li>
               {% endif %}
            </ul>
         </li>
         {% endif %}
         {% if userpermission('lr_cust_list') or userpermission('lr_cust_add') %}
         <li class="nav-item has-treeview {{ activate_menu('customer') }} {{ activate_menu('addcustomer') }} {{ activate_menu('editcustomer') }}">
            <a href="#" class="nav-link {{ activate_menu('customer') }} {{ activate_menu('addcustomer') }} {{ activate_menu('editcustomer') }}">
               <i class="nav-icon fas fa-user"></i>
               <p>
                  Customer
                  <i class="right fas fa-angle-left"></i>
               </p>
            </a>
            <ul class="nav nav-treeview">
               {% if userpermission('lr_cust_list') %}
               <li class="nav-item">
                  <a href="{{ base_url() }}/customer" class="nav-link {{ activate_menu('customer') }} {{ activate_menu('editcustomer') }}">
                     <i class="nav-icon fas faa-list"></i>
                     <p>Customer Management</p>
			</a>
               </li>
               {% endif %}
               {% if userpermission('lr_cust_add') %}
               <li class="nav-item">
                  <a href="{{ base_url() }}/customer/addcustomer" class="nav-link {{ activate_menu('addcustomer') }}">
                     <i class="nav-icon fas faa-plus"></i>
                     <p>Add Customer</p>
</a>
</li>
{% if userpermission('lr_customer_list') or userpermission('lr_customer_add') %}
<li class="nav-item has-treeview {% if activate_menu('customer') == 'active' %}menu-open{% endif %}
   {% if activate_menu('addcustomer') == 'active' %}menu-open{% endif %}
   {% if activate_menu('editcustomer') == 'active' %}menu-open{% endif %}">
   <a href="#" class="nav-link {% if activate_menu('customer') %}active{% endif %}{% if activate_menu('addcustomer') %}active{% endif %}{% if activate_menu('editcustomer') %}active{% endif %}">
      <i class="nav-icon fa fa-users"></i>
      <p>
         Customers
         <i class="right fas fa-angle-left"></i>
      </p>
   </a>
   <ul class="nav nav-treeview">
      {% if userpermission('lr_customer_list') %}
      <li class="nav-item">
         <a href="{{ base_url() }}customer" class="nav-link {% if activate_menu('customer') %}active{% endif %}{% if activate_menu('editcustomer') %}active{% endif %}">
            <i class="nav-icon fas faa-list"></i>
            <p>Customer Management</p>
         </a>
      </li>
      {% endif %}
      {% if userpermission('lr_customer_add') %}
      <li class="nav-item">
         <a href="{{ base_url() }}customer/addcustomer" class="nav-link {% if activate_menu('addcustomer') %}active{% endif %}">
            <i class="nav-icon fas faa-plus"></i>
            <p>Add Customer</p>
         </a>
      </li>
      {% endif %}
   </ul>
</li>
{% endif %}
{% if userpermission('lr_fuel_list') or userpermission('lr_fuel_add') %}
<li class="nav-item has-treeview {% if activate_menu('fuel') == 'active' %}menu-open{% endif %}
   {% if activate_menu('addfuel') == 'active' %}menu-open{% endif %}
   {% if activate_menu('editfuel') == 'active' %}menu-open{% endif %}">
   <a href="#" class="nav-link {% if activate_menu('fuel') %}active{% endif %}{% if activate_menu('addfuel') %}active{% endif %}{% if activate_menu('editfuel') %}active{% endif %}">
      <i class="nav-icon fa fa-battery-three-quarters"></i>
      <p>
         Fuel
         <i class="right fas fa-angle-left"></i>
      </p>
   </a>
   <ul class="nav nav-treeview">
      {% if userpermission('lr_fuel_list') %}
      <li class="nav-item">
         <a href="{{ base_url() }}fuel" class="nav-link {% if activate_menu('fuel') %}active{% endif %}{% if activate_menu('editfuel') %}active{% endif %}">
            <i class="nav-icon fas faa-list"></i>
            <p>Fuel Management</p>
         </a>
      </li>
      {% endif %}
      {% if userpermission('lr_fuel_add') %}
      <li class="nav-item">
         <a href="{{ base_url() }}fuel/addfuel" class="nav-link {% if activate_menu('addfuel') %}active{% endif %}">
            <i class="nav-icon fas faa-plus"></i>
            <p>Add Fuel</p>
         </a>
      </li>
      {% endif %}
   </ul>
</li>
{% endif %}
{% if userpermission('lr_reminder_list') or userpermission('lr_reminder_add') %}
<li class="nav-item has-treeview {% if activate_menu('reminder') == 'active' %}menu-open{% endif %}
   {% if activate_menu('addreminder') == 'active' %}menu-open{% endif %}
   {% if activate_menu('editreminder') == 'active' %}menu-open{% endif %}">
   <a href="#" class="nav-link {% if activate_menu('reminder') %}active{% endif %}{% if activate_menu('addreminder') %}active{% endif %}{% if activate_menu('editreminder') %}active{% endif %}">
      <i class="nav-icon fas fa fa-bullhorn"></i>
      <p>
         Reminder
         <i class="right fas fa-angle-left"></i>
      </p>
   </a>
   <ul class="nav nav-treeview">
      {% if userpermission('lr_reminder_list') %}
      <li class="nav-item">
         <a href="{{ base_url() }}reminder" class="nav-link {% if activate_menu('reminder') %}active{% endif %}{% if activate_menu('editreminder') %}active{% endif %}">
            <i class="nav-icon fas faa-list"></i>
            <p>Reminder Management</p>
         </a>
      </li>
      {% endif %}
      {% if userpermission('lr_reminder_add') %}
      <li class="nav-item">
         <a href="{{ base_url() }}reminder/addreminder" class="nav-link {% if activate_menu('addreminder') %}active{% endif %}">
            <i class="nav-icon fas faa-plus"></i>
            <p>Add Reminder</p>
         </a>
      </li>
      {% endif %}
   </ul>
</li>
{% endif %}
{% if userpermission('lr_ie_list') or userpermission('lr_ie_add') %}
<li class="nav-item has-treeview {% if activate_menu('incomexpense') == 'active' %}menu-open{% endif %}
   {% if activate_menu('addincomexpense') == 'active' %}menu-open{% endif %}
   {% if activate_menu('editincomexpense') == 'active' %}menu-open{% endif %}">
   <a href="#" class="nav-link {% if activate_menu('incomexpense') %}active{% endif %}{% if activate_menu('editincomexpense') %}active{% endif %}{% if activate_menu('addincomexpense') %}active{% endif %}">
      <i class="nav-icon fa fa-dollar-sign"></i>
      <p>
         Income & Expenses
         <i class="right fas fa-angle-left"></i>
      </p>
   </a>
   <ul class="nav nav-treeview">
      {% if userpermission('lr_ie_list') %}
      <li class="nav-item">
         <a href="{{ base_url() }}incomexpense" class="nav-link {% if activate_menu('incomexpense') %}active{% endif %}{% if activate_menu('editincomexpense') %}active{% endif %}">
            <i class="nav-icon fas faa-list"></i>
            <p>Income & Expenses</p>
         </a>
      </li>
      {% endif %}
      {% if userpermission('lr_ie_add') %}
      <li class="nav-item">
         <a href="{{ base_url() }}incomexpense/addincomexpense" class="nav-link {% if activate_menu('addincomexpense') %}active{% endif %}">
            <i class="nav-icon fas faa-plus"></i>
            <p>Add Income & Expenses</p>
         </a>
      </li>
      {% endif %}
   </ul>
</li>
{% endif %}
{% if userpermission('lr_tracking') or userpermission('lr_liveloc') %}
<li class="nav-item has-treeview {% if activate_menu('tracking') == 'active' %}menu-open{% endif %}
   {% if activate_menu('livestatus') == 'active' %}menu-open{% endif %}">
   <a href="#" class="nav-link {% if activate_menu('tracking') %}active{% endif %}{% if activate_menu('livestatus') %}active{% endif %}">
      <i class="nav-icon fa fa-map-pin"></i>
      <p>
         Tracking
         <i class="right fas fa-angle-left"></i>
      </p>
   </a>
   <ul class="nav nav-treeview">
      {% if userpermission('lr_tracking') %}
      <li class="nav-item">
         <a href="{{ base_url() }}tracking" class="nav-link {% if activate_menu('tracking') %}active{% endif %}">
            <i class="nav-icon fas faa-list"></i>
            <p>History Tracking</p>
         </a>
      </li>
      {% endif %}
      {% if userpermission('lr_liveloc') %}
      <li class="nav-item">
         <a href="{{ base_url() }}tracking/livestatus" class="nav-link {% if activate_menu('livestatus') %}active{% endif %}">
            <i class="nav-icon fas faa-plus"></i>
            <p>Live Location</p>
         </a>
      </li>
      {% endif %}
   </ul>
</li>
{% endif %}
{% if userpermission('lr_geofence_add') or userpermission('lr_geofence_list') or userpermission('lr_geofence_events') %}
<li class="nav-item has-treeview {% if activate_menu('addgeofence') == 'active' %}menu-open{% endif %} {% if activate_menu('geofenceevents') == 'active' %}menu-open{% endif %}
   {% if activate_menu('geofence') == 'active' %}menu-open{% endif %}">
   <a href="#" class="nav-link {% if activate_menu('geofence') %}active{% endif %}{% if activate_menu('addgeofence') %}active{% endif %}{% if activate_menu('geofenceevents') %}active{% endif %}">
      <i class="nav-icon fa fa-street-view"></i>
      <p>
         Geofence
         <i class="right fas fa-angle-left"></i>
      </p>
   </a>
   <ul class="nav nav-treeview">
      {% if userpermission('lr_geofence_add') %}
      <li class="nav-item">
         <a href="{{ base_url() }}geofence/addgeofence" class="nav-link {% if activate_menu('addgeofence') %}active{% endif %}">
            <i class="nav-icon fas faa-list"></i>
            <p>Add Geofence</p>
         </a>
      </li>
      {% endif %}
      {% if userpermission('lr_geofence_list') %}
      <li class="nav-item">
         <a href="{{ base_url() }}geofence" class="nav-link {% if activate_menu('geofence') %}active{% endif %}">
            <i class="nav-icon fas faa-plus"></i>
            <p>Geofence Management</p>
         </a>
      </li>
      {% endif %}
      {% if userpermission('lr_geofence_events') %}
      <li class="nav-item">
         <a href="{{ base_url() }}geofence/geofenceevents" class="nav-link {% if activate_menu('geofenceevents') %}active{% endif %}">
            <i class="nav-icon fas faa-plus"></i>
            <p>Geofence Events</p>
         </a>
      </li>
      {% endif %}
   </ul>
</li>
{% endif %}
{% if userpermission('lr_reports') or userpermission('lr_reports_own') %}
<li class="nav-item has-treeview {% if activate_menu('reports') == 'active' %}menu-open{% endif %}
   {% if activate_menu('ownreport') == 'active' %}menu-open{% endif %}">
   <a href="#" class="nav-link {% if activate_menu('reports') %}active{% endif %}{% if activate_menu('ownreport') %}active{% endif %}">
      <i class="nav-icon fa fa-file-alt"></i>
      <p>
         Reports
         <i class="right fas fa-angle-left"></i>
      </p>
   </a>
   <ul class="nav nav-treeview">
      {% if userpermission('lr_reports') %}
      <li class="nav-item">
         <a href="{{ base_url() }}reports" class="nav-link {% if activate_menu('reports') %}active{% endif %}">
            <i class="nav-icon fas faa-list"></i>
            <p>Reports</p>
         </a>
      </li>
      {% endif %}
      {% if userpermission('lr_reports_own') %}
      <li class="nav-item">
         <a href="{{ base_url() }}reports/ownreport" class="nav-link {% if activate_menu('ownreport') %}active{% endif %}">
            <i class="nav-icon fas faa-plus"></i>
            <p>Own Report</p>
         </a>
      </li>
      {% endif %}
   </ul>
</li>
{% endif %}
{% if userpermission('lr_settings') %}
<li class="nav-item has-treeview {% if activate_menu('settings') == 'active' %}menu-open{% endif %}
   {% if activate_menu('addsettings') == 'active' %}menu-open{% endif %}
   {% if activate_menu('editsettings') == 'active' %}menu-open{% endif %}">
   <a href="#" class="nav-link {% if activate_menu('settings') %}active{% endif %}{% if activate_menu('addsettings') %}active{% endif %}{% if activate_menu('editsettings') %}active{% endif %}">
      <i class="nav-icon fa fa-cog"></i>
      <p>
         Settings
         <i class="right fas fa-angle-left"></i>
      </p>
   </a>
   <ul class="nav nav-treeview">
      {% if userpermission('lr_settings') %}
      <li class="nav-item">
         <a href="{{ base_url() }}settings" class="nav-link {% if activate_menu('settings') %}active{% endif %}{% if activate_menu('editsettings') %}active{% endif %}">
            <i class="nav-icon fas faa-list"></i>
            <p>Settings</p>
    <i class="right fas fa-angle-left"></i>
</p>
</a>
<ul class="nav nav-treeview">
    <li class="nav-item">
        <a href="{{ base_url() }}settings/websitesetting" class="nav-link {% if activate_menu('websitesetting') %}active{% endif %}">
            <i class="fas fa-cosg icon nav-icon"></i>
            <p>General Settings</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ base_url() }}settings/smtpconfig" class="nav-link {% if activate_menu('smtpconfig') %}active{% endif %}">
            <i class="nav-icon fas faa-plus"></i>
            <p>SMTP Configuration</p>
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ base_url() }}settings/email_template" class="nav-link {% if activate_menu('email_template') or activate_menu('edit_email_template') %}active{% endif %}">
            <i class="nav-icon fas faa-plus"></i>
            <p>Email Template</p>
        </a>
    </li>
</ul>
</li>
<li class="nav-item has-treeview {% if activate_menu('users') or activate_menu('adduser') or activate_menu('edituser') %}menu-open{% endif %}">
    <a href="#" class="nav-link {% if activate_menu('users') or activate_menu('edituser') or activate_menu('adduser') %}active{% endif %}">
        <i class="nav-icon fa fa-user"></i>
        <p>
            User's
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{ base_url() }}users" class="nav-link {% if activate_menu('users') or activate_menu('edituser') %}active{% endif %}">
                <i class="fas fa-cosg icon nav-icon"></i>
                <p>User Management</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ base_url() }}users/adduser" class="nav-link {% if activate_menu('adduser') %}active{% endif %}">
                <i class="nav-icon fas faa-plus"></i>
                <p>Add User</p>
            </a>
        </li>
    </ul>
</li>
{% if user_is_authenticated() %}
<li class="nav-item">
    <a href="{{ base_url() }}resetpassword" class="nav-link {% if activate_menu('resetpassword') %}active{% endif %}">
        <i class="nav-icon fa fa-key"></i>
        <p>
            Change Password
        </p>
    </a>
</li>
{% endif %}
</ul>
</nav>
</div>
</aside>
<div class="content-wrapper pb-2 mb-0">
