<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Vehicle Details</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{{ base_url() }}/dashboard">Home</a></li>
          <li class="breadcrumb-item active">Vehicle Details</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
             
            </div>

            <h3 class="profile-username text-center">{{ vehicledetails['v_name']|capitalize }}</h3>

            <p class="text-muted text-center">{{ vehicledetails['v_type']|capitalize }}</p>

            <p class="text-muted text-center">
              {% if vehicledetails['v_is_active'] == 1 %}
                <span class="right badge badge-success">Active</span>
              {% else %}
                <span class="right badge badge-danger">Inactive</span>
              {% endif %}
            </p>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Bookings</b> <a class="float-right">{{ bookings|length }}</a>
              </li>
              <li class="list-group-item">
                <b>Geofence</b> <a class="float-right">{{ vechicle_geofence|length }}</a>
              </li>
              <li class="list-group-item">
                <b>Notifications</b> <a class="float-right">{{ geofence_events|length }}</a>
              </li>
            </ul>

          </div><!-- /.card-body -->
        </div><!-- /.card -->

       
      </div><!-- /.col -->
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
               <li class="nav-item"><a class="nav-link active" href="#basicinfo" data-toggle="tab">Basic Info</a></li>
              <li class="nav-item"><a class="nav-link" href="#bookings" data-toggle="tab">Bookings</a></li>
              <li class="nav-item"><a class="nav-link" href="#vechicle_geofence" data-toggle="tab">Geofence</a></li>
            <li class="nav-item"><a class="nav-link" href="#vechicle_incomexpense" data-toggle="tab">Income & Expense</a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane" id="bookings">
                 <table id="bookingstbl" class="table table-striped projects">
                      <thead>
                          <tr>
                              <th class="percent1">
                                  #
                              </th>
                              <th class="percent25">
                                  Driver
                              </th>
                              <th class="percent25">
                                  Customer
                              </th>
                              <th class="percent25">
                                From & To
                              </th>
                              <th class="percent25">
                                Booking Value
                              </th>
                             
                              <th class="percent25">
                                  Trip Status
                              </th>
                              <th class="percent25">
                                Action
                              </th>
                          </tr>
                      </thead>
				<tbody>
  {% if bookings %}
    {% set count = 1 %}
    {% for bookingsdata in bookings %}
      <tr>
        <td>
          {{ count }}
          {% set count = count + 1 %}
        </td>
        <td>
          {% if bookingsdata['t_driver_details'].d_name %}
            {{ bookingsdata['t_driver_details'].d_name }}
          {% else %}
            <span class="badge badge-danger">Yet to Assign</span>
          {% endif %}
        </td>
        <td>
          {{ bookingsdata['t_customer_details'].c_name }}
        </td>
        <td>
          <small>{{ bookingsdata['t_trip_fromlocation'] }}</small>
          <br>
          <span class="badge badge-success">to</span>
          <br>
          <small>{{ bookingsdata['t_trip_tolocation'] }}</small>
        </td>
        <td>
          {{ bookingsdata['t_trip_amount'] }}
        </td>
<td>
  {% set status = '' %}
  {% if bookingsdata['t_trip_status'] == 'ongoing' %}
    {% set status = '<span class="badge badge-info">Ongoing</span>' %}
  {% elif bookingsdata['t_trip_status'] == 'completed' %}
    {% set status = '<span class="badge badge-success">Completed</span>' %}
  {% elif bookingsdata['t_trip_status'] == 'yettostart' %}
    {% set status = '<span class="badge badge-warning">Yet to start</span>' %}
  {% elif bookingsdata['t_trip_status'] == 'cancelled' %}
    {% set status = '<span class="badge badge-danger">Cancelled</span>' %}
  {% elif bookingsdata['t_trip_status'] == 'yettoconfirm' %}
    {% set status = '<span class="badge badge-danger">Yet to Confirm</span>' %}
  {% endif %}
  {{ status }}
</td>

        <td>
          <a class="icon" target="_blank" href="{{ base_url() }}trips/details/{{ bookingsdata['t_id'] }}">
            <i class="fa fa-eye"></i>
          </a>
        </td>
      </tr>
    {% endfor %}
  {% endif %}
</tbody>
</table>
</div>
<!-- /.tab-pane -->
<div class="tab-pane" id="vechicle_geofence">
  <!-- The timeline -->
  <table id="vgeofencetbl" class="table table-striped projects">
    <thead>
      <tr>
        <th class="percent1">
          #
        </th>
        <th class="percent25">
          Name
        </th>
        <th class="percent25">
          Description
        </th>
        <th class="percent25">
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      {% if vechicle_geofence %}
        {% set count = 1 %}
        {% for vechicle_geofence_data in vechicle_geofence %}
          <tr>
            <td>
              {{ count }}
              {% set count = count + 1 %}
            </td>
            <td>
              {{ vechicle_geofence_data['geo_name']}}
            </td>
            <td>
              {{ vechicle_geofence_data['geo_description'] }}
            </td>
            <td>
              <a class="icon" href="{{ base_url() }}geofence">
                <i class="fa fa-eye"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
<div class="tab-pane" id="vechicle_incomexpense">
  <table id="incomexpenstbl" class="table table-striped projects">
    <thead>
      <tr>
        <th class="percent1">
          #
        </th>
        <th class="percent25">
          Date
        </th>
        <th class="percent25">
          Description
        </th>
        <th class="percent25">
          Amount
        </th>
        <th class="percent25">
          Type
        </th>
        <th class="percent25">
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      {% if vechicle_incomexpense %}
        {% set count = 1 %}
        {% for incomexpensdata in vechicle_incomexpense %}
          <tr>
            <td>
              {{ count}}
              {% set count = count + 1 %}
            </td>
            <td>
              {{ incomexpensdata['ie_date'] }}
            </td>
            <td>
              {{ incomexpensdata['ie_description'] }}
            </td>
            <td>
              {{ incomexpensdata['ie_amount'] }}
            </td>
            <td>
              {% if incomexpensdata['ie_type'] == 'income' %}
                <span class="right badge badge-success">Income</span>
              {% else %}
                <span class="right badge badge-danger">Expense</span>
              {% endif %}
            </td>
            <td>
              <a class="icon" href="{{ base_url() }}incomexpense">
                <i class="fa fa-eye"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
<!-- /.tab-pan -->
<div class="tab-pane active" id="basicinfo">
  <table class="table table-sm table-bordered">
    <tbody>
      <tr>
        <td>Registration No</td>
        <td>{{ vehicledetails['v_registration_no'] }}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{ vehicledetails['v_name'] }}</td>
      </tr>
      <tr>
        <td>Model</td>
        <td>{{ vehicledetails['v_model']}}</td>
      </tr>
      <tr>
        <td>Chassis No.</td>
        <td>{{ vehicledetails['v_chassis_no']}}</td>
      </tr>
      <tr>
        <td>Engine No.</td>
        <td>{{ vehicledetails['v_engine_no'] }}</td>
      </tr>
      <tr>
        <td>Manufactured By</td>
        <td>{{ vehicledetails['v_manufactured_by'] }}</td>
      </tr>
      <tr>
        <td>Type</td>
        <td>{{ vehicledetails['v_type']}}</td>
      </tr>
      <tr>
        <td>Mileage/Litre</td>
        <td>{{ vehicledetails['v_mileageperlitre']}}</td>
      </tr>
      <tr>
        <td>API URL</td>
        <td>{{ vehicledetails['v_api_url']}}</td>
      </tr>
      <tr>
        <td>GPS API Username</td>
        <td>{{ vehicledetails['v_api_username'] }}</td>
      </tr>
      <tr>
        <td>GPS API Password</td>
        <td>{{ vehicledetails['v_api_password'] }}</td>
      </tr>
      <tr>
        <td>Created Date</td>
        <td>{{ vehicledetails['v_created_date'] }}</td>
      </tr>
      <tr>
        <td>Modified Date</td>
        <td>{{ vehicledetails['v_modified_date'] }}</td>
      </tr>
    </tbody>
  </table>
  <div class="col-sm-3">
    <a href="{{ base_url() }}vehicle/editvehicle/{{ vehicledetails['v_id'] }}">
      <button type="button" class="btn btn-block btn-success btn-sm">Edit Info</button>
    </a>
  </div>
</div>
<!-- /.tab-pane -->
</div>
<!-- /.tab-content -->
</div><!-- /.card-body -->
</div>
<!-- /.nav-tabs-custom -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</div><!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

